<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book API Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=RocknRoll+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">

  </head>
  <body>
    <header>
    <h1>Book API Project</h1>
      <nav>
        <ul>
          <li><a href="searches/new">New Search</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Books in the Database: <%= books.length %></h2>
      <ul>
         <% for (let i = 0; i < books.length; i++) {  %>
          <li>
              <p>Title: <%= books[i].title %></p>
              <p>Author: <%= books[i].author %></p>
              <p>ISBN Number: <%=books[i].isbn %></p>
              <img src="<%= books[i].image_url %>" />
              <p> <%= books[i].description %></p> 
          </li>

          <% }  %>
      </ul>
  </main>
  <footer></footer>
  </body>
</html>